*.iml
.gradle
/CameraPraject/local.properties
/CameraPraject/.idea/workspace.xml
/CameraPraject/.idea/libraries
.DS_Store
/CameraPraject/build
/CameraPraject/captures
/CameraPraject/projectFilesBackup
